@import "tailwindcss";

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-body {
  font-family: "Inter", "Plus Jakarta Sans", sans-serif;
}

.font-header {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

.font-headerv1 {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-ya {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-dark {
  background-color: #0f0e0e;
}
/* 
@layer base {
  * {
    @apply transition-all duration-300 ease-in-out;
  }
} */

section {
  position: relative;
  overflow: visible;
  z-index: 0;
}

#home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  z-index: -10;
  pointer-events: none;
}

header {
  position: relative;
  z-index: 100;
}

.segmented {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
  padding: 0.35rem;
  border-radius: 9999px;
  z-index: 90;
}

.bg-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.141);
  border: none solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 9999px;
  transition: all 0.3s ease;
  z-index: 5;
  pointer-events: none;
}

.bg-active {
  position: absolute;
  top: 10%;
  left: 0;
  width: 0;
  height: 80%;
  border: 1px solid #797979b9;
  background: rgba(0, 0, 0, 0.349);
  border-radius: 9999px;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 50;
}

.segmented-button {
  position: relative;
  border: none;
  padding: 0.2rem 0.8rem;
  border-radius: 9999px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 60;
  font-weight: 500;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.stars {
  position: fixed;
  width: 1px;
  height: 1px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  z-index: -1;
  animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.5);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#tech-strip {
  animation: scroll 30s linear infinite;
  white-space: nowrap;
}
#tech-strip:hover {
  animation-play-state: paused;
}
.tech-item {
  display: inline-flex;
  align-items: center;
  margin-right: 3rem;
}

@keyframes floatup {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0%);
  }
}
#profile {
  animation: floatup ease-in-out 3s infinite;
}
#profile:hover {
  animation-play-state: paused;
}

#profile:hover img {
  transform: scale(1.05);
}

#imageProfile {
  transition: transform 0.3s ease;
}

@keyframes goyangZoom {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  6% {
    transform: scale(1.2) rotate(10deg);
  }
  12% {
    transform: scale(1.3) rotate(-10deg);
  }
  18% {
    transform: scale(1.3) rotate(10deg);
  }
  24% {
    transform: scale(1.3) rotate(-10deg);
  }
  34% {
    transform: scale(1.25) rotate(10deg);
  }
  44% {
    transform: scale(1.2) rotate(-10deg);
  }
  54% {
    transform: scale(1.05) rotate(10deg);
  }
  64% {
    transform: scale(1.02) rotate(-10deg);
  }
  84% {
    transform: scale(1) rotate(0deg);
  }
}

.goyang {
  animation: goyangZoom 2s ease-in-out infinite;
}

body {
  background-color: black !important;
}

::selection {
  background-color: #00000000;
  color: #ffe23e;
}

@keyframes in {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-in {
  animation: in 0.6s ease-out forwards;
}

.animate-out {
  animation: out 0.6s ease-in forwards;
}

.slide-up {
  animation: slideUp 1s ease-in forwards;
}


body.loading {
  overflow: hidden;
  height: 100vh;
}
.visible1 
{
  animation: fadeInUp 1s forwards ease-out;
}

.visible-out {
  animation: fadeInUpOutline 1s forwards ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  60% {
    opacity: 0.3;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpOutline {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 0.3;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 2s ease, transform 2s ease;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-left {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}
.fade-left.show {
  opacity: 1;
  transform: translateX(0);
}

.fade-down {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 2s ease;
}
.fade-down.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes grow-width {
  from {
    transform: scaleX(0);
    opacity: 1;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes text-slide-left {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn-pop {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  opacity: 0;

  overflow: hidden;
}

.btn-pop.show {
  animation: grow-width 0.7s forwards ease-out;
}

/* Teks awal */
.btn-pop span {
  display: inline-block;
  opacity: 0;
}

.btn-pop.show span {
  animation: text-slide-left 0.7s forwards ease-out;
  animation-delay: 0.6s;
}

/*  */
.fade-in2 {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 1.5s ease, transform 2s ease;
}

.fade-in2.show-anim {
  opacity: 1;
  transform: translateY(0);
}

.fade-down2 {
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 2s ease-out, transform 3s cubic-bezier(0.25, 1, 0.5, 1);
}

.fade-down2.show-anim-down {
  opacity: 1;
  transform: translateY(0);
}

.fade-opacity2 {
  opacity: 0;
  transition: opacity 2.4s ease-out;
}

.fade-opacity2.show-anim-opacity {
  opacity: 1;
}

.fade-opacity3 {
  opacity: 0;
  transition: opacity 2s ease-out;
}

.fade-opacity3.show-anim-opacity {
  opacity: 1;
}
